@import url('https://fonts.googleapis.com/css2?family=Inter');

.main-contanier {
    height: 516px;
    width: 705px;
    margin: auto;
    margin-top: 103px;
    margin-bottom: 599px;
    text-align: center;
    /* border: 1px solid red; */
    background: #F9F7F2;
}

@media (max-width: 400px) {
    .main-contanier {
        width: 320px;
        height: 422px;
        margin: auto;
        margin-top: 54px;
        margin-bottom: 75px;
    }

}



.tick {
    margin-top: 65px;
}


.main-text {
    height: 141px;
    width: 319px;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 22px;
}

.h1 {
    color: var(--Dark-a, #1F1E1C);

    /* H Section */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 28.8px */
    letter-spacing: -0.48px;
    margin-bottom: 36px;
}


.h3 {
    color: #000;
    text-align: center;

    /* tx bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 12px;
    /* 22.4px */
}


.p {
    color: #000;
    text-align: center;

    /* tx */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.button{
    margin: auto;
    margin-top: 98px;
}
@media (max-width: 400px) {
    .button {
        width: 232px;
        height: 54px;
        margin: auto;
        margin-bottom: 60px;
        margin-top: 50px;
        font-size: 18px;
        display: block  ;
        /* text-align: ; */
    }

}
