@import url('https://fonts.googleapis.com/css2?family=Inria Sans');
@import url('https://fonts.googleapis.com/css2?family=Inter');

.main-assesment-cantainer {
    width: 1200px;
    margin: auto;
}

@media (max-width: 576px) {
    .main-assesment-cantainer {
        width: 100%;
    }
}

.assesment-cantainer {
    display: flex;
    margin-left: 103px;
    margin-right: 203px;
}

@media (max-width: 576px) {
    .assesment-cantainer {
        margin-left: 20px;
        margin-right: 20px;
    }
}



.main-timer {
    text-align: center;
    /* border: 1px solid red; */
    /* justify-content: center; */
}

.timer {
    height: 142px;
    width: 142px;
    border: 1px solid gray;
    border-radius: 100%;
    background-color: red;
    background-color: rosybrown;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.timer-double {
    height: 120px;
    width: 120px;
    background-color: white;
    /* border: 1px solid gray; */
    border-radius: 100%;
    margin: auto;
}

.timer-text {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-top: 8px;
}

.mobile-timer-filter { 
    /* float: right; */
    display: flex;
    /* justify-content: space-between; */
 }

.main-questions {
    margin-top: 66px;
    width: 320px;
}

@media (max-width: 576px) {
    .main-questions {
        margin-top: 0px;
        width: 100%;
    }
}

.desktop-timer-filter {
    margin-top: -50px;
    margin-right: 50px;
}

@media (max-width: 576px) {
    .desktop-timer-filter {
        display: none;
    }
}



.mobile-timer {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 100%;
    background-color: red;
    background-color: palevioletred;
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
}

.mobile-timer-double {
    height: 80px;
    width: 80px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 100%;
    margin: auto;
}

.mobile-filter {
/* float: left; */
    margin-top: 67px;
    margin-bottom: 75px;
}

@media (max-width: 576px) {

    .mobile-timer-filter {
        /* display: block; */
        display: flex;
        justify-content: space-between;
    }

    .main-timer {
        display: none;
    }
}

@media (min-width: 576px) {

    .mobile-timer-filter {
        display: none;
    }
    .main-timer{
        display: block;
    }
}

.submit-div-mobile {
    display: none;
}

.submit-button-mobile {
    height: 54px;
    width: 130px;
    float: right;
    gap: 10px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid#F4D150;
    background: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    position: fixed;
    bottom: 50px;
    right: 20px;
}

@media (max-width: 576px) {
    .submit-div-mobile {
        display: block;
    }
}