@import url('https://fonts.googleapis.com/css2?family=Inria Sans');
@import url('https://fonts.googleapis.com/css2?family=Inter');

.main-assesment-cantainer {
    width: 1200px;
    margin: auto;
}

@media (max-width: 576px) {
    .main-assesment-cantainer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.assesment-cantainer {
    display: flex;
    margin-left: 103px;
    margin-right: 203px;
}

@media (max-width: 576px) {
    .assesment-cantainer {
        display: block;

        margin-left: 0px;
        margin-right: 0px;
    }

    .image-header{
        margin-top: 20px;
    }
}

.main-questions {
    margin-top: 66px;
}

@media (max-width: 576px) {
    .main-questions {
        margin-top: 0px;
        width: 100%;
    }
}

.timer-filter {
    margin-top: -50px;
    margin-right: 50px;
}

@media (max-width: 576px) {
    .timer-filter{
        margin-top: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
    }
}
