.header-assessment-desktop {
    width: 100%;
    background: #FCFAFA;
    align-items: center;
    /* height: 72px;    */
}

.header-container {
    background-color: #FCFAFA;
    height: 72px;
    /* line-height: 100px; */
}


.main-header {
    background-color: #FCFAFA;
    width: 1200px;
    margin: auto;
    display: flex;
    /* height: 72px; */
}
@media (max-width: 576px) {
    /* .header-assessment-desktop{
        height: auto;
    } */
    


    .main-header {
        width: auto;
        /* height: 144px; */
        align-items: center;
        text-align: center;
        display: block;

    }
}

/* .header-assessment-mobile {
    background-color: #FCFAFA;
    text-align: center;
    height: 144px;
    box-sizing: border-box;

}

.mobile {
    height: 72px;
}

.mobilePagination {
    height: 72px;
    border-top: 2px solid #EBE9E6;
    padding-top: 10px;
} */

/* @media (max-width: 576px) {
    .header-assessment-desktop {
        display: none;
    }

    .main-header {
        display: block;
    }
} */

.submit-div {
    margin-top: 9px;
    width: 203px;
}

.submit-button {
    height: 54px;
    width: 130px;
    float: right;
    font-size: 18px;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid#F4D150;
    background: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
}

@media (max-width: 576px) {
    .submit-button {
        display: none;
    }
}