.main-timer {
    text-align: center;
}

.timer {
    height: 142px;
    width: 142px;
    border: 1px solid #EBE9E6;
    border-radius: 100%;
    background-color: #E68086;
    margin: auto;
    display: flex;
    justify-content: space-around;
    fill: var(--Light-c, #EBE9E6);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 576px) {
    .timer {
        height: 100px;
        width: 100px;
        /* margin-top: 23px; */
    }

    .timer-text {
        display: none;
    }
}

.timer-double {
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 100%;
    margin: auto;
    /* margin-top: 10px; */
}

@media (max-width: 576px) {
    .timer-double {
        height: 80px;
        width: 80px;
    }
}

.settime{
    /* align-items: center; */
    margin-top: 40px;
    /* margin: auto; */
    /* line-height: normal; */
}
@media (max-width: 576px) {
    .settime{
        /* font-size: 18px; */
        margin-top: 20px;
        }
    }


.setnumber{
    color: var(--Error, #E68086);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
}

@media (max-width: 576px) {
.setnumber{
    font-size: 18px;
    }
}


.settext{color: var(--Dark-a, #1F1E1C);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    /* margin-top: 20px; */
    }

    @media (max-width: 576px) {
        .settext{
            /* font-size: 18px; */
            margin-top: 0px;
            }
        }
        
.timer-text {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-top: 8px;
}

/* .mobile-timer-filter {
    display: flex;
} */


@media (max-width: 576px) {
    .main-timer{
        margin-top: 23px;
    }
}