@import url('https://fonts.googleapis.com/css2?family=Inter');

body {
    background-color: #EBE9E6;
    margin: 0px;
}

.main {
    width: 100%;
}

.header-container {
    background-color: #FCFAFA;
}

.header {
    background-color: #FCFAFA;
    height: 72px;
    width: 1200px;
    margin: auto;
    text-align: center;
}

.image-header {
    margin-top: 18px;
}

.about-container {
    background-color: #FCFAFA;

}

.about {
    background-color: #EBE9E6;
    margin-top: 57px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    color: #4C4B49;
    display: flex;
    flex-direction: column;

}

.instructions-container {
    background-color: #FCFAFA;
    width: 705px;
    margin: auto;
    height: 620px;
    text-align: left;
    margin-top: 19px;
    border: solid 1px white;
}

.instructions {
    width: 472px;
    margin-left: 117px;
    margin-right: 116px;
    margin-top: 40px;
    /* text-align: center; */
    /* border: solid 1px black; */

}

.instructions-title {
    color: #4C4B49;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.instructions p,
ul {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.instructions ul {
    padding-left: 20px;
}

.line {
    width: 620px;
    height: 1px;
    margin: auto;
    background: #4C4B49;
}

.button {
    margin-top: 39px;
    margin-left: 273px;
    text-align: center;
    display: inline-flex;
    padding: 16px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #F4D150;
    background: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    color: #1F1E1C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    margin-top: 143px;
    display: flex;
    height: 171px;
    padding: 46px 0px 68px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #4C4B49;
    color: #F9F7F2;
}

.header2-container {
    background-color: #FCFAFA;
}


.header2 {
    background-color: #FCFAFA;
    height: 72px;
    width: 1200px;
    margin: auto;
    text-align: left;
    border: solid 1px #FCFAFA;
}


.image-header2 {
    /* display: flex; */
    width: 112px;
    height: 36px;
    /* flex-shrink: 0; */
    margin-top: 18px;
    align-items: left;
    /* border: solid 1px black; */
}

.button2 {
    padding: 16px 35px;
    margin-top: 9px;
    float:right;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid var(--Accent, #F4D150);
    background: var(--Accent-Light, #FEEEB4);
    box-shadow: 0px 4px 7px 0px #B3AE9C;
}

.timer {
    /* background-color: #FCFAFA; */
    /* height: 72px; */
    width: 1200px;
    margin: auto;

    /* text-align: left; */
    /* border: solid 1px #FCFAFA; */
}


.image-timer {
    margin-left: 169px;
    margin-top: -50px;
}