@media (max-width: 700px) {
    .header {
        text-align: center;
        width: auto;
    }

    .image-header {
        text-align: center;
        width: 112px;
        height: 36px;
        top: 18px;
        left: 120px;
    }
    .instructions-container {
        width: 100%;
        padding: 0 10px; 
        box-sizing: border-box;
        height: auto; 
        text-align: center;
    }

    .instructions{
        width: 100%;
        text-align: left;
    }
    
}